<!-- <app-loading-data [loading]="loading"></app-loading-data> -->
<p-panel>
  <div class="row" style="margin-left: 1px">
    <div class="ui-g-11" style="padding: .7em">
    <form (ngSubmit)="searchService(keyword.value , appId.value , orgId.value , active.value)">
          <div class="form-group">
                <input type="text" pInputText placeholder="Nom du service..." #keyword size="30" title="Input keyword and enter">
                <p-dropdown [options]="applications" [filter]="true" [selection]="selectedApp" #appId [style]="{'width':'170px'}"></p-dropdown>
                <p-dropdown [options]="organizations" [filter]="true"  [selection]="selectedOrg" #orgId [style]="{'width':'170px'}"></p-dropdown>
                <p-dropdown [options]="statuses" [selection]="selectedActive" [style]="{'width':'170px'}" #active></p-dropdown>
                <button pButton type="reset" icon="fa-refresh" label="RAZ" class="ui-button-secondary" title="Clear search filter"></button>
                <a [routerLink]="['create-service']"><button pButton type="button" icon="fa-plus" label="Ajouter" *ngIf="role!='partner'" title="Ajouter de service"></button></a>
                <button pButton type="button" icon="fa-list" label="Exporter" *ngIf="role!='partner'" (click)="dt.exportCSV()" class="ui-button-success" title="Exporter tous les services"></button>
          </div>
        </form>
      </div>
  </div>

    <p-dataTable [value]="allServices" [paginator]="true" rows="20" #dt [pageLinks]="3" styleClass="custome_table"
      [rowsPerPageOptions]="[20,5,10,15]"  [responsive]="true" selectionMode="single">
      <p-column [style]="{'width':'50px' , 'align': 'center'}">
        <ng-template let-row="rowData" pTemplate="p-dataTable">
            <i class="icon-folder icons font-2xl d-block" ></i>
        </ng-template>
      </p-column>

      <p-column field="appName" header="Application"  [sortable]="true"  [exportable]="true"  [style]="{'width': '200px'}"></p-column>
      <p-column field="orgName" header="Organisation"  [sortable]="true" [exportable]="true"  [style]="{'width': '200px'}"></p-column>
      <p-column field="serviceName" header="Nom du service" [sortable]="true" [exportable]="true"></p-column>
      <p-column field="registered" header="Nombre inscrits"  [sortable]="true"  [exportable]="true"  [style]="{'width': '150px'}"></p-column>

      <p-column header="Subscribed" field="status"  [exportable]="true" [hidden]="true" [sortable]="true">
          <ng-template let-row="rowData" pTemplate="body" let-col let-index="rowIndex">
              <span class="badge badge-success" *ngIf="row.status">Subscribed</span>
              <span class="badge badge-warning" *ngIf="row.status==false">Unsubscribed</span>
          </ng-template>
      </p-column>

      <p-column header="Actif/Inactif" field="active"  [exportable]="true" [sortable]="true"  [style]="{'width': '150px'}">
        <ng-template let-row="rowData" pTemplate="body" let-col let-index="rowIndex" >
            <span class="badge badge-success" *ngIf="row.active===true">Actif</span>
            <span class="badge badge-secondary" *ngIf="row.active===false">Inactif</span>
        </ng-template>
    </p-column>

      <p-column field="startDate" header="Start date"  [sortable]="true"  [exportable]="true" [hidden]="true" ></p-column>
      <p-column field="endDate" header="End date"  [sortable]="true"  [exportable]="true" [hidden]="true" ></p-column>

      <p-column header="Actions" [style]="{'width': '150px'}">
        <ng-template let-row="rowData" let-col let-index="rowIndex" pTemplate="p-dataTable">
          <button type="button" pButton icon="fa-edit" *ngIf="role!='partner'" (click)="update(row)" title="Update service"></button>
          <a><button type="button" pButton icon=" fa fa-group" title="Gérer les utilisateurs" (click)="displayUsersOfService(row)"></button></a>
          <button type="button" pButton (click)="activate(row,false)" icon="fa-check-square-o" title="Actif/deactif service"></button>
          <button type="button" pButton icon="fa-eye" (click)="update(row)" *ngIf="role=='partner'" title="Afficher les détails du service"></button>
          <button type="button" pButton icon="fa-remove" (click)="delete(row,false)" title="Supprimer le service" *ngIf="role=='general administrator'"></button>
        </ng-template>
      </p-column>

      <p-column field="product_family" header="product family"  [sortable]="true" [hidden]="true"  [exportable]="true"></p-column>
      <p-column field="commemts" header="Comments"  [sortable]="true" [hidden]="true"  [exportable]="true"></p-column>
      <p-column field="monthly_price" header="Monthly_price"  [sortable]="true" [hidden]="true"  [exportable]="true"></p-column>
      <p-column field="location" header="Location"  [sortable]="true" [hidden]="true"  [exportable]="true"></p-column>
      <p-column field="oai" header="Oai/CI"  [sortable]="true" [hidden]="true"  [exportable]="true"></p-column>
      <p-column field="site" header="Site"  [sortable]="true" [hidden]="true"  [exportable]="true"></p-column>
      <p-column field="url" header="Service url"  [sortable]="true" [hidden]="true"  [exportable]="true"></p-column>
    </p-dataTable>
</p-panel>

<p-dialog [(visible)]="displayServiceUsers" [width]="1200" modal="modal" [responsive]="true" [closeOnEscape]="true">
    <p-header>
        List Users of Service:
    </p-header>
       <app-service-users [displayServiceUsers]="displayServiceUsers" [allUsers]="usersOfService" [serviceId]="id"
            (showServiceUsers)="showServiceUsers($event)"></app-service-users>
    <p-footer>
       <button type="button" pButton icon="fa-close" (click)="showServiceUsers(false)" label="Close"></button>
    </p-footer>
</p-dialog>


<p-dialog [(visible)]="displayCreateUserDialog" [width]="1200" modal="modal" [responsive]="true" [closeOnEscape]="true" (onHide)="showServiceUsers(true)">
    <p-header>
       Create new User
    </p-header>
    <app-create-user [serviceId]="id"></app-create-user>
    <p-footer>
      <button type="button" pButton icon="fa-close" (click)="showServiceUsers(true)" label="Close"></button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayEditUserDialog" [width]="1200" modal="modal" [responsive]="true" [closeOnEscape]="true" (onHide)="showServiceUsers(true)">
    <p-header>
       Update User
    </p-header>
    <app-update-user [serviceId]="id" (update)="updateUser($event)"></app-update-user>
</p-dialog>


<p-dialog header="Confirm Delete service" [(visible)]="deleteDialog" modal="modal" width="300" [responsive]="true" [closeOnEscape]="true">
    <p>Etes-vous sûr de supprimer ce service ?</p>
    <p-footer>
        <button type="button" pButton icon="fa-check" label="Yes" (click)="delete(selectedService,true)"></button>
        <button type="button" pButton icon="fa-close" (click)="deleteDialog=false" label="No"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Confirm Actif/Deactif service" [(visible)]="activateDialog" modal="modal" width="300" [responsive]="true" [closeOnEscape]="true">
    <p>êtes-vous sûr d'activer ou de désactiver ce service ?</p>
    <p-footer>
        <button type="button" pButton icon="fa-check" label="Yes" (click)="activate(selectedService , true)"></button>
        <button type="button" pButton icon="fa-close" (click)="activateDialog=false" label="Close"></button>
    </p-footer>
</p-dialog>








