<header class="app-header navbar app-header-container">            
    <div class="ui-g container app-header-max-width">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="left-header">
                <span class="left-header-icon">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                </span>
                <span class="left-header-text">
                    PORTAIL PARTENAIRES
                    <br>
                    <p>v2.0(Pre-Production)</p>
                </span>
            </div>
            <div class="pull-right right-header-logo">
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="right-header pull-right">
                <ul class="nav navbar-nav" [ngClass]="{'right-header-language' : loggedIn}">
                    <div class="dropdown">
                        <button class="dropbtn">{{currentLanguage}}</button>
                        <div class="dropdown-content">
                            <a (click)="setLanguage(language.id, $event)" *ngFor="let language of menuLanguage">{{language.name}}</a>
                        </div>
                        <i class="fa fa-caret-down" aria-hidden="true" style="color:#000;"></i>
                    </div>
                    <li class="nav-item nav-item-custom" *ngIf="loggedIn">
                        <a class="nav-link" [routerLink]="['mannual']" role="button">
                            <i class="fa fa-info-circle fa-lg"></i>
                            <span translate>Manuel</span>
                        </a>
                    </li>
                    <li class="nav-item right-logo-container" *ngIf="loggedIn">
                        <a class="right_logo" href="#"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav right-header-account" *ngIf="loggedIn">
                    <li class="nav-item">
                        <a role="button" [routerLink]="['user']">
                            <i class="fa fa-user fa-lg" title="View your account"></i>
                            <span>{{fullName}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()">
                            <i class="fa fa-power-off fa-lg" title="Sign out here"></i>
                        </a>
                    </li>
                </ul>
            </div>
           
        </div>
        
    </div>
  </header>
