<div class="sidebar">
    <app-sidebar-header></app-sidebar-header>
    <app-sidebar-form></app-sidebar-form>
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="divider"></li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/services']"><i class="icon-list"></i>
              <span translate>services</span>
            </a>
        </li>
        <li class="nav-item">
              <a class="nav-link" [routerLink]="['/users']"><i class="fa fa-group fa-lg"></i>
                <span translate>menuUsers</span>
              </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['connections']" *ngIf="role!='PARTNER'"><i class="icon-settings"></i>
            <span translate>history</span>
          </a>
        </li>
      </ul>
    </nav>
    <app-sidebar-footer></app-sidebar-footer>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </div>
